<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="homepage">
    <h1>  
       <%= @basicinfo.firstname %> <%= @basicinfo.lastname %> <br>
    </h1>
    <img src="<%= @basicinfo.image %>" height="42" width="50"> <br>
    <%= @basicinfo.phonenumber %> <br>
    <%= @basicinfo.email %> <br> <hr>
    <h1>
        Education
    </h1>
    <%= @school %> <br>
    <%= @graduationyear %> <br>
    <%= @gpa %> <br>
    
  </div>

</body>
</html>


