<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 
  <div class="all-header">
    <div class="header-text">
    <header class="header-details">
      <h1 class="name"><%= @basicinfo.firstname %> <%= @basicinfo.lastname %> | </h1>
        <article class="contact-information">
          <p class="contact-deets">ph: <%= @basicinfo.phonenumber %> | </p>
          <p class="contact-deets">e: <%= @basicinfo.email %></p>
        </article>
    </header>
    </div>
    <div class="header-prof">
      <img src="<%= @basicinfo.image %>" class="profile">
    </div>
  </div>




</body>
</html>